@import "./variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $colorDark;
  background-color: $colorLight;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  color: $colorAccent;
}
span{
  cursor: pointer;
}
